body{
    text-align: center;
background-color: rgb(152, 179, 203);
color: rgb(0, 0, 0);
background-image: url(../img/SOL1.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment:fixed ;
}

nav a{
    margin-right: 17px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}



.nao img{
    border-radius: 17px;
}

.sim img{
    border-radius: 17px;
}

.talvez img{
    border-radius: 16px;
    width: 320px;
    height: 140px;

}

.claro img{
    border-radius: 18px;
}
    
.pode iframe{
    border-radius: 18px;
}

.fundo{
background-color: rgba(240, 248, 255, 0.7);
border-radius: 20px;
padding: 5px;
margin-bottom: 30px;
}

    
