body{
    text-align: center;
background-color: rgb(152, 179, 203);
color: rgb(0, 0, 0);
background-image: url(../img/solll.png);
}

nav a{
    margin-right: 17px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 800px;
}
.fundo{


    background-color: rgba(240, 248, 255, 0.7);
border-radius: 17px;
padding: 10px;
}

input{
background-color: black;
border-radius: 19px;
color: aliceblue;
text-align: center;
}