body{
    background-color: rgb(51, 25, 75);
    color: rgb(176, 154, 197);
    text-align: center;
    
}

.na img{
    border-radius: 17px;
}

.uuhu img {
    border-radius: 18px;

}

.Multimetro img {
    border-radius: 17px ;
}

.thethe {
    background-color: rgba(240, 248, 255, 0.623);
border-radius: 20px;
padding: 5px;
margin-bottom: 30px;
color: blueviolet;
text-align: center;
}

nav a{
    margin-right: 17px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}